{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading mb-4">
                    <h2>{{ art.title }}</h2>
                </div>
                <div align="right" class="mb-4">
                    <a class="btn btn-outline-primary" role="button" href="{% url 'portfolio:artdelete' pk=art.pk %}">Delete</a>
                    <a class="btn btn-outline-primary" role="button" href="{% url 'portfolio:artedit' pk=art.pk %}">Edit</a>
                    <a class="btn btn-outline-primary" role="button" href="{% url 'portfolio:upload' %}">Add</a>
                </div>
                <div class="image" style="background-image:url(&quot;{{ art.img.url }}&quot;);"></div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        <p>{{ art.description }}</p>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags"><span class="meta-heading">Tags</span><a href="#">Resource</a><a href="#">Project</a><span class="meta-heading">Date</span><span>{{ art.datemade|timesince }}</span></div>
                    </div>
                </div>
                <div class="more-projects">
                    <h3 class="text-center">More Projects</h3>
                    <div class="row gallery">
                        {% for art in arts %}
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <a href="{% url 'portfolio:artdetail' pk=art.pk %}">
                                    <img class="img-fluid scale-on-hover" src="{{ art.img.url }}">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}